.nx-container {
    margin: auto;
    margin-top: 4rem;
    width: 75vw;
    border: 0.5rem solid;
    padding: 1.5rem;
    font-size: 18px;
    font-family: "Sacramento", sans-serif;
    background-color: #010a01;
    display: flex;
    justify-content: center;
    align-items: center;  
}