.home_container{

    // .tagline{
    //     text-align: center;
    //     font-size: 2rem;
    // }

    .specials{
        display: block;
        margin: auto;
        width: 70vw;
        border: 0.5rem solid #fc0313;
        padding: 1rem;
        background: #fefefecb;

        p{
            text-align: center;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        &_board{
            h1{
                font-size: 3rem;
                font-family: 'Alumni Sans Pinstripe', sans-serif;
                text-align: center;
            }
        }
    }
}