
// This is a switch to switch between
// @CONTIGUOUS MENU -- .menu-container
// @SEPARATE MENU CARDS -- .container
// esnure that at least one of each is commented out


// .menu-container {
.container {
    border-radius: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem;

    .center {
        margin: auto;
        text-align: center;
    }

    .addons {
        float: left;
        padding: 0.5rem;
      }
    
      .column {
        float: left;
        width: 50%;
      }
      
      .row:after{
        content: "";
        display: table;
        clear: both;
      };

    span {
        // color: rgb(0, 157, 255);
        font-weight: bold;
        // font-size: 1.5rem;
    }

    img{
        width: 15rem;
    }

    background-color: #FEFEFE;
    width: 70vw;
    margin: auto;
    margin-top: 3.5rem;
    h1 {
        font-size: 1.5rem;
        font-weight: 1000;
        font-size: 3rem;
        text-align: center;
        padding: 0.25rem;
    }
    h2, h3 {
        font-size: 2rem;
        font-weight: 700;
    }
    &__buffer{
        padding: 1rem;
    }
}

.card {
    // background-color: dodgerblue;
    // color: white;
    padding: 1rem;
    // height: 6.5rem;
}
  
.cards {
    max-width: 1200px;
    background-color: #FEFEFE;
    border-radius: 2rem;
    // width: 95vw;
    // margin: 0 auto;
    align-items: center;
    display: grid;
    // gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}