nav {
    font-size: 2rem;
    font-family: 'Special Elite';
    .container {
        margin: auto;
        width: 100vw;
        display: inline-block;
        // position: absolute;
        top: 0;
        background: #000000;
    }

    ul {
        text-align: center;
        padding: 15px;
        li {
            display: inline;
            padding: 10px;
            color: #f2f2f2;
            &:hover {
                color: #6EA3DB;
            }
        }
    }
}

.call-container{
    background: orange;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    // font-family: 'Special Elite';
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    z-index: 1;
}