nav {
    .container {
        margin: auto;
        width: 100vw;
        display: inline-block;
        // position: absolute;
        top: 0;
        background: #000000;
        z-index: 1;
    }

    ul {
        text-align: center;
        padding: 15px;
        li {
            display: inline;
            padding: 10px;
            color: #f2f2f2;
            &:hover {
                color: #6EA3DB;
            }
        }
    }
}