nav {
    font-size: 2rem;
    font-weight: 550;
    
    a {
        &:hover {
            color: $secondary-color;
            @include easeOut;
        }
    }
    .navigation-bar {
        position: fixed;
        margin: auto;
        width: 100vw;
        display: inline-block;
        // position: absolute;
        top: 0;
        background: #000000;
    }

    ul {
        text-align: center;
        padding: 0.5rem;
        li {
            display: inline;
            padding: 0.5rem;
            color: #f2f2f2;
            &:hover {
                color: #6EA3DB;
            }
        }
    }
}

